<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Selección de ejercicios</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Seleccione el botón para ser redireccionado al ejercicio correspondiente
    </ion-card-content>
  </ion-card>

  <div id="container">
    <ion-list>
      <ion-button expand="full" (click)="accionBoton1()">Fibonacci</ion-button>
      <ion-button expand="full" (click)="accionBoton2()">Factorial</ion-button>
      <ion-button expand="full" (click)="accionBoton3()">Primos</ion-button>
      <ion-button expand="full" (click)="accionBoton4()">Pares e impares</ion-button>
      <ion-button expand="full" (click)="accionBoton5()">Conjuntos</ion-button>
    </ion-list>
  </div>
</ion-content>
