<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Serie de Fibonacci</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Serie de Fibonacci</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="volver()">Volver</ion-button>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Ejercicio</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Dado un número ingresado por el usuario generar la serie Fibonacci hasta la posición del número ingresado.
    </ion-card-content>
  </ion-card>

</ion-content>

